<h1><%= @list.name %></h1> <!-- #class example -->

  <form class="" action="/lists" method="get">

    <input class="btn btn-primary btn-default" type="submit" name="submit" value="My Lists">

  </form>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Current Items</th>
      <th>Due Date</th>
      <th>Change Or Add Due Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <!-- display item -->
      <td>
        <%= item.task %>
      </td>
      <td>
        <%= item.due_date %>
      </td>
      <!-- add or change due date -->
      <td>

 <!-- action="/lorem/ipsum" is the route that will be hit;
      method="post" is the get or post action the browser understands -->
      <form action="/items/<%= item.id %>" method="post">

   <!-- type="hidden" is telling browser not to render the field;
        name="_method" and value="patch" are telling the browser to treat the form as a patch  -->
        <input type="hidden" name="_method" value="patch">

   <!-- type="date" is telling the browser what kind of field this is;
        name="due_date" is the title of the info being passed in the request;
        value="" just means there is no default value -->
        <input type="date" name="due_date" value="">

   <!-- type="submit" is telling the browser that clicking means transmit info;
        name="submit" just has to be there even though it's redundant;
        value="Update" is what's displayed to the user -->
        <input type="submit" name="submit" value="Update">
      </form>

      </td>
      <!-- delete item -->
      <td>
      <form action="/items/<%= item.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="submit" value="Mark as Complete">
      </form>
      </td>
    </tr>
    <% end %>
  <tbody>
</table>

<form action="/lists/<%=@list.name%>/items" method="post">
  <!-- name ends up being params -->
  <input type="text" name="item[task]" placeholder="New Item">
  <input type="hidden" name="item[list_id]" value="<%= @list.id %>">

  <!--Make a button -->
  <input type="submit" name="submit" value="Add to list">
</form>
